<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NS_Menu">

    <select id="selKey" parameterType="Map" resultType="String">
        /* NS_Menu.selKey */
        SELECT LPAD(CAST(MAX(MENU_ID) AS INT) + 1, 4, '0')
          FROM TB_MENU
    </select>

    <select id="selMenuList" parameterType="Map" resultType="CamelMap">
        /* NS_Menu.selAllMenuList */
        SELECT A.MENU_ID                  /* 메뉴아이디 */
             , A.PS_MENU_ID               /* 소속메뉴아이디 */
             , A.PS_MENU_NM               /* 소속메뉴명 */
             , A.MENU_NM                  /* 메뉴명 */
             , A.MENU_TP                  /* 메뉴유형[M:메뉴,S:구분선] */
             , A.EXEC_CMD                 /* 실행명령 */
             , A.MENU_LV                  /* 메뉴레벨 */
             , A.SORT_SN                  /* 정렬순번 */
             , A.USE_YN                   /* 사용여부 */
             , A.REG_ID                   /* 등록자 */
             , A.REG_DTTM                   /* 등록일시 */
             , A.CHG_ID                   /* 최종수정자 */
             , A.CHG_DTTM                   /* 최종수정일시 */
             , C1.CD_NM AS USE_YN_NM     /* 사용여부 */
             , C2.CD_NM AS MENU_TP_NM     /* 메뉴유형[M:메뉴,S:구분선] */
          FROM VW_MENU A
               LEFT OUTER JOIN TB_CD C1
                         ON C1.GRP_CD = 'USE_YN'
                        AND C1.CD = A.USE_YN
               LEFT OUTER JOIN TB_CD C2
                         ON C2.GRP_CD = 'MENU_TP'
                        AND C2.CD = A.MENU_TP
              LEFT OUTER JOIN TB_MENU B  /* 소속메뉴 */
                           ON B.MENU_ID = A.PS_MENU_ID
        WHERE 0 = 0
      ORDER BY A.PS_SORT_SN
             , A.MENU_LV
             , A.SORT_SN;
    </select>

    <!-- Insert Menu List -->
    <insert id="insMenu" parameterType="Map">
        /* NS_Menu.insMenu */
        INSERT INTO TB_MENU (                  /* T메뉴 */
              MENU_ID                  /* 메뉴아이디 */
            , PS_MENU_ID               /* 소속메뉴아이디 */
            , MENU_NM                  /* 메뉴명 */
            , MENU_TP                  /* 메뉴유형[M:메뉴, S:구분] */
            , EXEC_CMD                 /* 실행명령 */
            , MENU_LV                  /* 메뉴레벨 */
            , SORT_SN                  /* 정렬순번 */
            , USE_YN                   /* 사용여부[Y:사용, N:미사용] */
            , RM                       /* 비고 */
            , REG_DTTM                 /* 등록일시 */
            , REG_ID                   /* 등록자 */
            , CHG_DTTM                 /* 수정일시 */
            , CHG_ID                   /* 수정자 */
        ) VALUES (
              #{menuId}                /* 메뉴아이디 */
            , #{psMenuId}              /* 소속메뉴아이디 */
            , #{menuNm}                /* 메뉴명 */
            , #{menuTp}                /* 메뉴유형[M:메뉴, S:구분] */
            , #{execCmd}               /* 실행명령 */
            , #{menuLv}                /* 메뉴레벨 */
            , #{sortSn}                /* 정렬순번 */
            , #{useYn}                 /* 사용여부[Y:사용, N:미사용] */
            , #{rm}                    /* 비고 */
            , #{regDttm}                /* 등록일시 */
            , #{regId}                 /* 등록자 */
            , #{chgDttm}               /* 수정일시 */
            , #{chgId}                 /* 수정자 */
        )
    </insert>

    <!-- Update Menu List -->
    <update id="updMenu" parameterType="Map">
        /* NS_Menu.updMenu */
        UPDATE TB_MENU                  /* 메뉴 */
           SET PS_MENU_ID             = #{psMenuId}                /* 소속메뉴아이디 */
             , MENU_NM                = #{menuNm}                  /* 메뉴명 */
             , MENU_TP                = #{menuTp}                  /* 메뉴유형[M:메뉴,S:구분선] */
             , EXEC_CMD               = #{execCmd}                 /* 실행명령 */
             , MENU_LV                = #{menuLv}                  /* 메뉴레벨 */
             , SORT_SN                = #{sortSn}                  /* 정렬순번 */
             , USE_YN                 = #{useYn}                   /* 사용여부 */
             , CHG_ID                 = #{chgId}                   /* 최종수정자 */
             , CHG_DTTM               = #{chgDttm}                 /* 최종수정일시 */
         WHERE MENU_ID = #{menuId}
    </update>

    <!-- Delete Menu List -->
    <delete id="delMenu" parameterType="Map">
        /* NS_Menu.delMenu */
        DELETE FROM TB_MENU                  /* 메뉴 */
         WHERE MENU_ID = #{menuId}
    </delete>

</mapper>